[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.x.cfg

package-name = zettwerk.mobiletheming
package-extras = [test]
versions = versions

parts += omelette i18ndude

[versions]
plone.app.testing=4.2.2

[test]
defaults = ['-s', '${buildout:package-name}', '--auto-color', '--auto-progress']

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[i18ndude]
recipe = zc.recipe.egg
unzip = true
eggs = i18ndude
